.header{
    background-color: var(--gray-700);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.header img{
    height: 3rem;
    
}
